* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.menu {
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.menu_item {
  margin-right: 50px;
  text-align: center;
  position: relative;
  width: 193px;
}
.menu_item:hover {
  outline: 2px dotted darkkhaki;
}

.menu_link {
  font-weight: bold;
  font-size: 50px;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: blueviolet;
  background-color: thistle;
}

.submenu {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  left: 0;
  top: 100%;
}
.submenu_item {
  font-size: 30px;
  width: 193px;
  padding: 5px;
  background-color: #14da2ba7;
  outline: solid rgb(0, 0, 0);
  font-style: italic;
  font-weight: bold;
}
.submenu_item > a {
  width: 100%;
  height: 100%;
  display: block;
}
.submenu_item:hover {
  background-color: rebeccapurple;
}
.submenu_item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.submenu_item:hover > a {
  color: WHITE;
}

.menu_item:hover .submenu {
  display: block;
  outline: 2px dotted darkkhaki;
}

.gif_bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.bg_cat {
  width: 33.3%;
  height: 33.3%;
}
.bg_cat:nth-child(1) {
  background-image: url(/gif/1.gif);
  width: 33.3%;
  height: 33.3%;
  background-color: orange;
  outline: 3px black solid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg_cat:nth-child(2) {
  background-image: url(/gif/2.gif);
  width: 33.3%;
  height: 33.3%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg_cat:nth-child(3) {
  width: 33.3%;
  height: 33.3%;
  background-image: url(/gif/3.gif);
  width: 33.3%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg_cat:nth-child(4) {
  background-image: url(/gif/4.gif);
  width: 33.3%;
  height: 33.3%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg_cat:nth-child(5) {
  background-image: url(/gif/5.gif);
  width: 33.3%;
  height: 33.3%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg_cat:nth-child(6) {
  background-image: url(/gif/6.gif);
  background-repeat: no-repeat;
  width: 33.3%;
  height: 33.3%;
  background-size: cover;
  background-position: center;
}
.bg_cat:nth-child(7) {
  background-image: url(/gif/7.gif);
  background-repeat: no-repeat;
  width: 33.3%;
  height: 33.3%;
  background-position: bottom;
  background-size: cover;
}
.bg_cat:nth-child(8) {
  background-image: url(/gif/8.gif);
  background-repeat: no-repeat;
  width: 33.3%;
  height: 33.3%;
  background-size: cover;
  background-position: center;
}
.bg_cat:nth-child(9) {
  background-image: url(/gif/9.gif);
  background-repeat: no-repeat;
  width: 33.3%;
  height: 33.3%;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .menu {
    align-items: center;
    max-width: 100%;
  }
  .menu_link {
    max-width: 100%;
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: blueviolet;
    background-color: thistle;
  }
  .submenu_item {
    font-size: 20px;
    /* width: 100%; */
    padding: 5px;
    background-color: #14da2ba7;
    outline: solid rgb(0, 0, 0);
    font-style: italic;
    font-weight: bold;
  }
}
