* {
  box-sizing: border-box;
}

.menu {
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.menu_item {
  margin-right: 50px;
  text-align: center;
  position: relative;
  width: 193px;
}
.menu_item:hover {
  outline: 2px dotted darkkhaki;
}

.menu_link {
  font-weight: bold;
  font-size: 20px;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: blueviolet;
  background-color: thistle;
}

.submenu {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  left: 0;
  top: 100%;
}
.submenu_item {
  width: 193px;
  padding: 5px;
  background-color: #14da2ba7;
  outline: solid rgb(0, 0, 0);
  font-style: italic;
  font-weight: bold;
}
.submenu_item > a {
  width: 100%;
  height: 100%;
  display: block;
}
.submenu_item:hover {
  background-color: rebeccapurple;
}
.submenu_item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.submenu_item:hover > a {
  color: WHITE;
}

.menu_item:hover .submenu {
  display: block;
  outline: 2px dotted darkkhaki;
}
